body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

span {
    color: orange;
}

.flex {
    display: flex;
    margin-bottom: 100px;
}

.first {
    margin-left: 3%;
    width: 80%;
    padding-left: 3%;
    text-align: justify;
}

.second img {
    padding-left: 5%;
    width: 80%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}

.banner {
    background-image: url(images/top-banner.png);
}

/* 2nd part */
.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* 3rd part */
.orenge {
    color: orange;
}

.shadow {
    box-shadow: 10px 10px 40px gray;
    padding: 2%;
    border-radius: 10px;

}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#side {

    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
    border-left: 7px solid
}

#side-two {
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-left: 7px solid
}

footer p {
    text-align: center;
}